/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);*/
/*@import url(https://fonts.googleapis.com/css?family=Droid+Serif|Italianno|Roboto);*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Italianno);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  background: #c0392b; /*blue: #2980b9*/
  /*background-image: url(http://wallpoper.com/images/00/26/79/04/dark-textures_00267904.jpg);*/
  background-image: url("../images/bg.jpg");
  background-blend-mode: luminosity;
  background-size: cover;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: white;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Source Sans Pro', sans-serif;*/
}

footer {
  height: 5%;
}

header {
  height: 10%;
}

a {
  color: #95a5a6;
}

hr {
  width: 25%;
}

h1.section-header {
  font-family: 'Italianno', cursive;
  font-size: 600%;
}
em {
  font-weight: bolder;
  font-style: normal;
}

.navbar {
  background: rgba(0,0,0,0);
  border-radius: 0%;
  border: 0px;
  width: 100%;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.navbar-static-top {
  position: fixed;
}

button.navbar-toggle {
  background-color: rgba(1,1,1,0.45);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: rgba(0,0,0,0.83); /*at one point was darker than the rest*/
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: rgba(0,0,0,0.83);
  color: white;
}

.navbar-nav>li>a {
  color: white;
  background-color: rgba(1,1,1,0.83);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #e74c3c;
  background-color: rgba(0,0,0,0.9);
}

.nav>li {
  border-bottom: 3px solid white;
}
.nav>li.active{
  border-bottom: 3px solid #e74c3c;
}

.navbar-default .navbar-nav>li>a {
    color: #8c8c8c;
}

.dropdown-menu>li>a {
  color: white;
  background-color: rgba(1,1,1,0.88);
}

ul.dropdown-menu {
  padding: 0;
  border-left: 3px solid #e74c3c;
  border-bottom: 3px solid #e74c3c;
  background-color: rgba(1,1,1,0.60);
}

.dropdown-menu>li>a:hover {
  color: #e74c3c;
}

#resume-icon {
  /*padding: 5%;*/
  max-width:80%;
  max-height:80%;
}

#about-me-icon {
  margin-top: 3%;
  margin-bottom: 3%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section-header {
  text-align: center;
  padding: 1%;
  justify-content: center;
  font-family: 'Droid Serif', serif;
}
.section-header-small {
  color: white;
}

.section-content {
  margin-left:15%;
  margin-right:15%;
  margin-top: 15px;
  border: 1px white solid;
  background: rgba(0,0,0,0.25);
  text-align: justify;
  text-justify: auto;
}

.section-content p {
  padding: 0% 3%;
}


.spacer {
  width:20%;
  margin-left: 5%;
  margin-right: 5%;
}

.inline {
  /*display: inline-block;*/
  display: -webkit-flex;
  display: flex;
  text-align: center;
  justify-content: center;
}

img.logo {
  width: 50%;
  height: 100%;
  padding-bottom: 7%;
  margin-left: 2%;
  margin-right: 2%;
}

#logo-container {
  margin-left:15%;
  margin-right:15%;
  height: 40%;
}

.research-img {
  width: 40%;
  height: 200px;
  margin: 2%;
}
.data-results-list {
  margin-left: 5%;
  margin-right: 10%;
  text-align: justify;
  text-justify: auto;
}

.img-circle {
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  /*margin: 3%;*/
  border: 2px solid white;
}

.project-grid-img {
  margin: 5%;
  max-width: 60%;
  min-width: 25%;
  max-height: 60%;
  min-height: 50%;
}

/*.img-thumbnail {
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin: 3%;
  border: 2px solid white;
  max-width: 25%;
  max-height 25%;
}*/
